@charset "utf-8";
@import url('normalize.css');
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

/* 순욱 -- fontawesome, bootstrap css 등의 css는 필요 페이지에서 link로 직접 로드*/

/* 
메모
1. font-weight: 400 설정 한거랑 안한거 차이 없음.
2. 부트스트랩 로드하면 reset.css에 따로 설정한 a {text-decoration: none;} 안됨 그래서 common.css에 설정.
*/


/* COLOR */
:root {
    --point_R: #810606;
    --point_Y: #EAB413;

    --font_B: #101211;
    --font_G: #1D1D1B;
    --font_W: #ffffff;

/* 순욱 -- 회색 변수명을 숫자로 명명법 확장 */
    --font_G2 : #999;
    --font_G3 : #3d3d3d;
    --font_weight_R: 400;
}



/* FONT */
body {
    font-family: 'Gothic A1';
}




/* BUTTON */

/* 순욱 -- 더보기 버튼은 미디어센터에만 사용하므로 공통서식에서 제외 */
/* .btn_more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 203px;
    height: 54px;
    border: 1px solid #810606;
    border-radius: 50px;
    background: var(--point_R);
    color: var(--font_W);
    font-size: 22px;
    font-weight: 700;
}
.btn_more i {
    margin-left: 10px;
    font-size: 18px;
}

.btn_more:hover {
    border: 3px solid #810606;
    color: var(--point_R);
    background-color: var(--font_W);
} */

/* 기타 */


/* 순욱 -- 공통클래스명 __으로 시작, __dis_link 클래스명 추가 */
.__hidden{
    display: none;
}

.__dis_link{
    color: var(--font_G2);
}



/********** 탑버튼(만드는중) **********/
/* .$btn_scroll_top {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border: 1px solid #810606;
    transform: rotate(45deg);
}
.btn_scroll_top i {
    font-size: 40px;
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    transform: rotate(-45deg);
} */