@charset "utf-8";
@import url('normalize.css');
@import url('reset.css');
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

/* COLOR */
:root {
    --color-main-red: #810606;
    --color-main_gold: #EAB413;

    --color-font_black: #101211;
    --color-font_gery: #1D1D1B;
    --color-font_white: #FFFFFF;
}
/* FONT */
body {
    font-family: 'Gothic A1';
}

/* Button */
.btn_more, .btn_top {
    margin: 50px;
}

.btn_more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 203px;
    height: 54px;
    border: 1px solid var(--color-main-red);
    border-radius: 50px;
    font-weight: bold;
    font-size: 22px;
    color: var(--color-main-red);
}
.btn_more:hover {
    color: var(--color-font_white);
    background: var(--color-main-red);
    transition: .3s;
}

.btn_more .fa-angle-down {
    font-size: 18px;
    margin-left: 10px;
    font-weight: bold;
}


.btn_top {
    display: flex;
    width: 84px;
    height: 84px;
    border: 1px solid var(--color-main-red);
    border-radius: 10px;
    transform: rotate(45deg);
}