@charset "utf-8";
@import url('normalize.css');
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css");

/* 
메모
1. font-weight: 400 설정 한거랑 안한거 차이 없음.
2. 부트스트랩 로드하면 reset.css에 따로 설정한 a {text-decoration: none;} 안됨 그래서 common.css에 설정.
*/

/* COLOR */
:root {
    --point_R: #810606;
    --point_Y: #EAB413;

    --font_B: #101211;
    --font_G: #1D1D1B;
    --font_W: #ffffff;

    --font_weight_R: 400;
}

/* FONT */
body {
    font-family: 'Gothic A1';
}

/* BUTTON */
.btn_more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 203px;
    height: 54px;
    border: 1px solid #810606;
    border-radius: 50px;
    background: var(--point_R);
    color: var(--font_W);
    font-size: 22px;
    font-weight: 700;
}
.btn_more i {
    margin-left: 10px;
    font-size: 18px;
}

.btn_more:hover {
    border: 3px solid #810606;
    color: var(--point_R);
    background-color: var(--font_W);
}

/* 기타 */
a {
    text-decoration: none;
}



/********** 탑버튼(만드는중) **********/
/* .btn_scroll_top {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border: 1px solid #810606;
    transform: rotate(45deg);
}
.btn_scroll_top i {
    font-size: 40px;
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    transform: rotate(-45deg);
} */