footer {
	background: var(--font_G);
	color: var(--font_W);
	text-decoration: none;
	display: grid;
	grid-template-columns: 187fr 190fr 266fr 634fr 235fr 190fr 188fr;
	grid-template-rows: 58px 38px 38px 25px 57px;
}
.logo_lg {
	grid-column: 2 / span 1;
	grid-row: 2 / span 1;
}
.logo_oled {
	grid-column: 2 / span 1;
	grid-row: 4 / span 1;
}
.logo img {
	display: block;
	margin-bottom: 50px;
}
.f_link_list {
	text-transform: uppercase;
	grid-column: 4 / span 1;
	grid-row: 2 / span 1;
	display: flex;
	justify-content: space-between;
	gap: 50px;
}
.f_link_list li a {
	color: var(--font_W);
}
.f_link_list li a:hover {
	text-decoration: underline;
}
.f_copyright {
	grid-column: 4 / span 1;
	grid-row: 4 / span 1;
	text-align: center;
	line-height: 24px;
}
.f_partners {
	grid-column: 6 / span 1;
	grid-row: 2 / span 1;
	display: flex;
	flex-direction: column-reverse;
	border-bottom: 1px solid var(--font_W);
	line-height: 32px;
}
.f_partners i {
	margin-left: 70px;
}
.f_partners a {
	color: var(--font_W);
}
.snslist {
	font-size: 20px;
	grid-column: 6 / span 1;
	grid-row: 4 / span 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}
.snslist a {
	color: var(--font_W);
}
.snslist .blog {
	background: url(../img/blog.svg) no-repeat center;
	width: 20px;
	display: inline-block;
	text-indent: 9999em;
	overflow: hidden;
}

/* 반응형 */
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 768px) {
	footer {
		font-size: 14px;
		grid-template-columns: 101fr 86fr 96fr 202fr 99fr 84fr 80fr;
		grid-template-rows: 38px 73px 120px 66px;
	}
	.logo_lg,
	.logo_oled {
		display: none;
	}
	.f_link_list {
		grid-column: 2 / span 5;
		grid-row: 2 / span 1;
		justify-content: start;
	}
	.f_copyright {
		/*질문하기*/
		grid-column: 3 / span 3;
		grid-row: 4 / span 1;
	}
	.f_partners {
		grid-column: 4 / span 1;
		grid-row: 3 / span 1;
		text-align: center;
		justify-content: flex-end;
		height: 40px; /*질문하기*/
	}
	.snslist {
		grid-column: 4 / span 1;
		grid-row: 3 / span 1;
		display: flex;
		align-items: end;
	}
}

@media screen and (max-width: 480px) {
	footer {
		font-size: 10px;
	}
}
