/* sub_header*/
/* 진아_0126 -- 추후 링크로 바꿀 예정 */
h3 {
    font-size: 1.125em;
    font-weight: 600;
}
.M30 {
    margin: 0px 30px;
}
.d-flex {
    display: flex;
}
.jsc {
    justify-content: center;
}
/* .__link {
  color: var(--point_Y);
  font-weight: 600;
} */

/* header */
header {
    width: 100%;
    height: 54px;
    background: rgba(0, 0, 0, 0.8);
}

header div.d-flex {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
h1 {
    position: relative;
    z-index: 2;
}
header a {
    color: var(--font_W);
    text-transform: uppercase;
}
/* LOGO */
.header_logo {
    position: relative;
    display: inline-block;
    width: 9vw;
}
.header_logo img {
    width: 100%;
}
.header_logo:after {
    content: "LG디스플레이";
    text-indent: -99999em;
    overflow: hidden;
    position: absolute;
}
/* nav */
.wrapper {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    height: 0px;
    transition: height 0.5s;
}
.wrapper.active {
    height: 297px;
}
nav {
    width: 55%;
    margin: 0 auto;
}
/* nav_GNB */
.gnb_box {
    text-align: center;
    align-items: flex-start;
    justify-content: space-around;
    text-align: center;
}
#header .gnb_box.open .lnb_box {
    height: 243px;
    opacity: 1;
}
.gnb_box li.clicked .lnb_box li a {
    color: var(--font_W);
    font-weight: 600;
}
/* .gnb_box li.clicked .lnb_box li a.__link {
    color: var(--point_Y);
}
.gnb_box li.clicked .lnb_box li a.__dis_link.__link {
    color: var(--point_Y);
} */
.gnb_box > li {
    position: relative;
    width: 25%;
}
.gnb_box > li > h3 {
    line-height: 54px;
}

/* nav_lnb */
#header .lnb_box {
    position: absolute;
    width: 100%;
    top: 54px;
    left: 0;
    height: 0px;
    opacity: 0;
    transition: opacity 0.65s;
}
.lnb_box li {
    line-height: 40.5px;
    position: relative;
    z-index: 2;
}
.lnb_box li a {
    display: block;
}
#header .lnb_box li:hover a {
    text-decoration: underline;
}
#header .lnb_box li a.current {
    color: var(--point_R);
    font-weight: 800;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
#header .lnb_box li a.current:hover {
    text-decoration: none;
}

/* Header_icon */
.Header_icon {
    width: 7%;
}
.Header_icon div {
    display: inline-block;
    width: 50%;
    z-index: 2;
}
.Header_icon div a {
    transform: translateX(50%);
}
.Header_icon div a:before {
    content: "";
    display: inline-block;
    width: 29px;
    height: 29px;
    background-image: url(../img/sp01.png);
    margin-left: 30%;
}
.header_search a:before {
    background-position: -34px -220px;
}
.header_lang a:before {
    background-position: 0px -220px;
}
.__blind {
    position: absolute;
    text-indent: -99999em;
    overflow: hidden;
}
.Header_icon .bar {
    display: none;
}
/* // header */

@media (max-width: 1190px) {
}

@media (max-width: 880px) {
    .header_logo {
        width: 23vw;
    }
}
@media (max-width: 700px) {
    .header_logo {
        width: 23vw;
    }
}
@media (max-width: 600px) {
    .header_logo {
        width: 23vw;
    }
}
@media (max-width: 500px) {
    .header_logo {
        width: 23vw;
    }
}
@media (max-width: 480px) {
    header {
        background: var(--font_W);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .header_logo::before {
        content: "";
        display: inline-block;
        width: 160px;
        height: 38px;
        background-image: url(../img/logo_display_G.svg);
        background-repeat: no-repeat;
    }
    .header_logo img {
        display: none;
    }
    .wrapper {
        display: none;
    }
    .bar {
        position: relative;
    }
    .Header_icon {
        width: 15%;
    }
    .Header_icon div {
        display: none;
    }
    .Header_icon div.bar {
        display: block;
        position: relative;
    }

    .bar span {
        position: absolute;
        width: 38px;
        height: 4px;
        background: var(--font_G);
        border-radius: 3px;
        transform: rotate(-180deg);
    }
    .bar span:first-child {
        top: 10px;
        left: 20%;
    }
    .bar span:last-child {
        bottom: 10px;
        left: 20%;
    }
}
