/* main_rending */

/* sub_header*/
/* 진아_0126 -- 추후 링크로 바꿀 예정 */
h3 {
    font-size: 1.125em;
    font-weight: 600;
}
.container {
    margin: 0px 30px;
}
.d-flex {
    display: flex;
}
.jsc {
    justify-content: center;
}

/* header */
header {
    width: 100%;
    height: 54px;
    background: rgba(0, 0, 0, 0.6);
}
header.h_color{
    background: rgba(0, 0, 0, 0.8);
}
header div.d-flex {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
h1{
    position: relative;
    z-index: 2;
}
header a {
    /* color: #fff; */
    color: var(--font_W);
    text-transform: uppercase;
}
/* LOGO */
.header_logo {
    position: relative;
}
.header_logo:after {
    content: "LG디스플레이";
    text-indent: -99999em;
    overflow: hidden;
    position: absolute;
}
/* nav */
.wrapper{
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    height: 0px;
    transition: height 0.5s;
}
.wrapper.active{
    height: 297px;
}
nav {
    width: 70%;
    margin: 0 auto;
}
/* nav_GNB */
.gnb_box {
    text-align: center;
    align-items: flex-start;
    justify-content: space-around;
    text-align: center;
}
#header .gnb_box.clicked .lnb_box{
   height: 243px;
   opacity: 1;
}
.gnb_box.clicked .lnb_box li a{
    color: var(--font_W);
}
.gnb_box > li{
    position: relative;
    width: 25%;
}
.gnb_box > li > h3 {
    line-height: 54px;
}
/* .gnb_box.current .lnb_box{
    opacity: 1;
}
.gnb_box.current li > .lnb_box{} */

/* nav_lnb */
#header .lnb_box {
    position: absolute;
    width: 100%;
    top: 54px;
    left: 0;
    height: 0px;
    opacity: 0;
    transition: opacity 0.65s;
}
#header .lnb_box li{
    line-height: 40.5px;
    position: relative;
    z-index: 2;
}
#header .lnb_box li a{
    display: block;
}
#header .lnb_box li:hover a{
    text-decoration: underline;
}

/* Header_icon */
.Header_icon{
    width: 10%;
}
.Header_icon div{
    display: inline-block;
    width: 50%;
    z-index: 2;
}
.Header_icon div a{
    padding-left: calc(50%);
    transform: translateX(50%);
}
.Header_icon div a:before {
    content: '';
    display: inline-block;
    width: 29px;
    height: 29px;
    background-image: url(../img/sp01.png);
}
.header_search a:before{
    background-position: -34px -220px;
}
.header_lang a:before{
    background-position: 0px -220px;
}
.__blind {
    position: absolute;
    text-indent: -99999em;
    overflow: hidden;
}
.Header_icon .bar{
    display: none;
}
/* // header */

/* IT */
/* commercial */
/* OLED */
/* ESG */
/* 미디어 센터 */
/* JA_230130_start_section01_slide */
.media_banner {
    position: relative;
    width: 100%;
    height: 756px;
}
.media_banner_BG {
    position: absolute;
    top: -54px;
    left: 0;
    right: 0;
    z-index: -10;
}
.media_banner h2::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 18px;
    height: 54px;
    margin-right: 30px;
    top: 10px;
    background: var(--point_R);
}
.media_banner h2 {
    position: absolute;
    left: 343px;
    top: 527px;
    width: 336px;
    height: 69px;
    color: var(--font_W);
    font-weight: 700;
    font-size: 3.4rem;
    line-height: 69px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* 사업장 위치 */ ;
