/********** OLED EX(공통) **********/
html {
    font-size: 16px;
}
.contain_margin {
    margin: 162px 0;
}
:root {
    --Rows1: 27px 0;
    --Rows3: 81px 0;
    --Rows6: 162px 0;
}
p {
    line-height: 27px;
}
.OLED_sec02 span {
    display: block;
}



/********** OLED EX(SECTION1) **********/
.OLED_EX {
    background: #F6F6F6;
}

.OLED_EX img {
    width: 100%;
}

/* OLED BANNER */
.banner img { 
    width: 100%;
    position: absolute;
}

.banner_container {
    position: relative;
    height: 4000px;
}

.banner {
    top: 0;
    position: sticky;

    width: 100%;
    height: 756px;
    background: #000000;
    
}

.banner h2:before {
    content: "";
    display: inline-block;
    position: relative;
    width: 18px;
    height: 54px;
    margin-right: 10px;
    top: 10px;
    background: var(--point_R);
}

/* vw, vh로 맞춰보기. or 그리드로 해보기 */
.banner h2 {
    color: var(--font_W);
    font-weight: 700;
    font-size: 3.4rem;
    line-height: 69px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
 
    position: absolute;
    right: 4%;
    bottom: 3%;
}

/* OLED EX INTRO */
.EX_empty_BG_F {
    background: #000000;
    height: 1000px;
}
.EX_empty_BG_S {
    background: #000000;
    width: 100%;
    height: 4500px;
}


.EX_intro {
    background: #000000;
    height: 1107px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.active_EX_sticky {
    position: sticky;
    top: 0;
}

.EX_intro h1 {
    font-family: 'Inter';
    font-weight: 900;
    font-size: 150px;
    line-height: 195px;
    color: var(--font_W);
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: transform .1s;
}


.EX_intro h1:nth-child(1):after {
    content: '';
    display: inline-block;
    width: 68px;
    height: 31px;
    background: #B60037;
}

.EX_intro p {
    font-family: 'Noto Sans KR';
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: var(--font_W);
    opacity: 0;
    transition: opacity 2s 1s;
}

.EX_intro p.active_EX_intro {
    opacity: 1;
    transition: opacity 2s 1s;
}

.EX_intro p:nth-child(3) {
    margin: 45px 0 80px 0;
    font-size: 32px;
    font-weight: 700;
}
.EX_intro p:nth-child(5) {
    margin-bottom: 60px;
}

/* EX_intro 애니메이션 */
.EX_intro h1.active_intro_stop {
    animation: trans 1s forwards;
}
@keyframes trans {
    0% {
    }
    100% {
        transform: translateX(0px);
    }
}

.EX_intro_img_box {
    background: rgb(0, 0, 0);
    height: 5000px;
}

.EX_intro_img {
    width: 80.1%;
    height: 1594px;
    margin: 0 auto;
    position: relative;
}
.EX_intro_img li[class^='img_'] {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 40.9%;
    height: 400px;
    border-radius: 20px;
}
.img_deuterium {
    background-image: url(../img/img_deuterium.jpg);
}
.img_algorism {
    background-image: url(../img/img_algorism.jpg);
    transform: translateX(145%);
}
.img_bezel {
    background-image: url(../img/img_bezel.jpg);
}


/* EX DEUTERIUM(중수소 소자) */
.EX_deuterium_container {
    height: 6000px;
}
.EX_deuterium {
    position: sticky;
    top: 0;

    background-image: url(../img/EX_deuterium.jpg);
    width: 100%;
    height: 1107px;

    background-repeat: no-repeat;
    background-position: center top;
    
    /* 구간 바뀔 떄 contain으로 바꾸기 */
    background-size: cover;

    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;

    opacity: 1;

}

.EX_deuterium h2 {
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    opacity: 0;
    transition: opacity 2s;
}
.EX_deuterium h2.active_deuterium_h2 {
    opacity: 1;
    transition: opacity 1s;
}

.EX_deuterium p {
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    margin-top: 80px;
    opacity: 0;
    transition: opacity 1s;
}
.EX_deuterium p.active_deuterium_p {
    opacity: 1;
    transition: opacity 2s;
}


/* EX ALGORISM(알고리즘) */
.EX_algorism_container {
    height: 13000px;
}

.EX_algorism {
    top: 0;
    position: sticky;
}

.EX_algorism .img {
    position: absolute;
    background-image: url(../img/dotted2.jpg);
    width: 100%;
    height: 756px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    z-index: 2;
    opacity: 0;
    transition: opacity 2s;
}
.EX_algorism .img.active_algorism_opacity {
    transition: opacity 2s;
    opacity: 1;
}

.EX_algorism img {
    position: relative;
    z-index: 1;
    opacity: 1;
    transition: opacity 2s;
}
.EX_algorism img.active_algorism_opacityS {
    transition: opacity 2s;
    opacity: 0;
}


/* EX Bezel(베젤) */
.EX_bezel_container {
    height: 6000px;
}

.EX_bezel {
    position: sticky;
    top: 0;

    background: #F6F6F6;
    width: 100%;
    height: 1107px;

    display: grid;
    grid-template-columns: 2.81fr 22.13fr 8.85fr 42.39fr 3.02fr 14.94fr 4.8fr;
    grid-template-rows: 15.26fr 14.18fr 12.01fr 29.35fr 14.45fr 14.12fr
}


.EX_bezel img {
    width: 100%;
    grid-column: 2/5;
    grid-row: 1/5;
}

.EX_bezel h2 {
    font-size: 45px;
    font-weight: 700;

    grid-column: 6/7;
    grid-row: 4/5;

    display: flex;
    align-items: flex-end;

    margin-bottom: 87px;
}

.EX_bezel p {
    font-size: 24px;
    line-height: 30px;
    text-align: right;

    grid-row: 5/6;
    grid-column: 3/7;
}

.EX_bezel span {
    color: var(--font_W);
    grid-column: 3/4;
    text-align: center;
}

.EX_bezel span:nth-of-type(1) {
    font-size: 75px;
    grid-row: 2/3;
    grid-column: 3/4;
    margin-top: 75px;
}

.EX_bezel span:nth-of-type(2) {
    font-size: 35px;
    grid-row: 3/4;
}
/********** OLED EX(SECTION1) **********/



/********** OLED ACE (SECTION2) **********/
/* JA_230201_작업시작 */
/* OLED Common */
.OLED_sec02 span {
    display: block;
}

.OLED_sec2_h3 {
    font-size: 3.4rem;
    font-weight: 600;
}
.OLED_sec2_h4 {
    font-size: 2.8rem;
    font-weight: 600;
}
.OLED_sec02 > p {
    font-size: 1.12rem;
    line-height: 27px;
    width: 70%;
}
.warning_txt {
    font-weight: 300;
    font-size: 0.8rem;
    color: var(--font_G);
}
.ace_tt h4 {
    margin: var(--Rows1);
}
.ace_tt p {
    width: 50%;
    margin: 0 auto;
    line-height: 27px;
}
.ACE_R {
    color: var(--point_R);
}
.ACE_Y {
    color: var(--point_Y);
}

/* ACE_tt */
.OLED_ace {
    display: flex;
    align-items: center;
}
.OLEd_img {
    width: 50%;
}
.OLEd_img img {
    width: 100%;
}
.img_txt {
    width: 50%;
    margin-left: 157px;
}
.img_txt > p {
    width: 70%;
}
.OLED_sec02_title {
    margin-bottom: 27px;
}

.ace_box .sub_tt {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 54px;
}
.ace_box h2 {
    color: var(--point_Y);
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 81px;
}
.ace_box h2::before {
    content: "";
    display: inline-block;
    width: 34px;
    height: 30px;
    background-image: url(../img/sp01.png);
    background-position: 0px -340px;
    margin-bottom: 17.5px;
}
.ACE_tt_box {
    display: flex;
    justify-content: space-evenly;
}
.ACE_tt_box li {
    width: 470px;
    height: 540px;
    text-align: center;
}
.ACE_tt_box li:hover {
    box-shadow: 0px 0px 10px rgba(129, 6, 6, 0.5);
}
.ACE_tt_box li a {
    display: inline-block;
    padding: 54px 0px;
    box-sizing: border-box;
}
.ACE_tt_box .ace_tt {
    font-size: 3.4rem;
    font-weight: 600;
    margin: 54px 0;
}
.ACE_tt_box .ace_tt b {
    color: var(--point_R);
}
.A_txt_box p {
    line-height: 27px;
    font-size: 1.5rem;
}
/* clone_sticky */
.ace_clone {
    position: fixed;
    top: -81.5px;
    width: 100%;
    background-color: var(--font_W);
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0px;
    z-index: 999999999;
    text-align: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    transition: top 0.3s;
}
.ace_clone.visible{
    top: 0;
}
.ace_clone li a img{
    width: 35%;
}
.ace_clone .ace_tt{
    font-weight: 600;
    margin-top: 5px;
}
.ace_clone .ace_tt b {
    color: var(--point_R);
}
.ace_clone .A_txt_box{
    display: none;
    
}

/* A */
.ACE_A {
    margin-top: 162px;
}
.ACE_a1_scrollImg {
    position: relative;
}
.a1_scroll {
    width: 80%;
    margin-left: auto;
}
.a1_scroll img {
    width: 100%;
}
.ACE_a1_scrollImg .OLED_sec2_h3 {
    position: absolute;
    width: 500px;
    height: 108px;
    background: var(--point_R);
    top: 65%;
    left: 0;
}
.OLED_sec2_h3 span {
    color: var(--font_W);
    text-align: center;
    line-height: 112px;
}
.ACE_a1_scrollImg .a1_tt {
    margin: 81px 0 27px 146px;
}
.ACE_a1_scrollImg > p {
    margin-left: 146px;
}

.ACE_a2 {
    background: var(--font_B);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.a2_tt h3,
.ACE_a2 p {
    color: var(--font_W);
}
.ACE_a2 img,
.ACE_a2 .a2_tt {
    display: inline-block;
    width: 30%;
}
.ACE_a2 p.a2_sub_txt {
    position: absolute;
    width: 30%;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, 100%);
}
.ACE_a2 p.warning_txt {
    color: var(--fnt_B);
    position: absolute;
    right: 0;
    bottom: -27px;
}
/* C */
.c1_imgs {
    margin: 0 167px;
    display: flex;
    gap: 105px;
    justify-content: center;
}
.c1_imgs .img_box {
    width: 50%;
}
.c1_imgs img {
    width: 100%;
}
.c1_tt {
    text-align: center;
    margin-left: 103px;
}

.ACE_c1 .warning_txt {
    text-align: end;
    margin-right: 167px;
    margin-bottom: 54px;
}

.ACE_c2 {
    background: #000;
    display: flex;
    align-items: center;
    position: relative;
}
.c2_tt {
    margin-left: 157px;
    text-align: center;
    line-height: 54px;
}
.ACE_c2:after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 30px;
    bottom: 27px;
    background-image: url(../img/OLED/ACE_c02_02.png);
    background-size: cover;
    width: 130px;
    height: 38px;
}

.c2_tt,
.ACE_c2 p {
    color: var(--font_W);
}
/* E */

.ACE_E1 {
    width: 100%;
    padding: 0 30px;
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.E1_img {
    width: 80%;
    display: inline-block;
}
.E1_img img {
    width: 100%;
}
.ACE_E1 .warning_txt {
    text-align: start;
    position: absolute;
    top: -27px;
    left: 0;
    margin-left: 30px;
}
.E1_tt {
    text-align: center;
}

.e2_imgs {
    gap: 294px;
    height: 696px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.e2_imgs .e2_02 img {
    width: 100%;
}
.e2_imgs .e2_02:before {
    content: "OLED";
    color: var(--font_W);
    position: absolute;
    display: inline-block;
    font-size: 2.8rem;
    font-weight: 600;
    right: 25%;
    bottom: 15%;
}
.e2_imgs .e2_02:after {
    content: "";
    background-image: url(../img/OLED/ACE_e02_03.png);
    position: absolute;
    background-size: cover;
    width: 142px;
    height: 132px;
    right: 6%;
    bottom: 15%;
}
.ACE_E2 .warning_txt {
    text-align: end;
}
.e2_tt {
    text-align: center;
    margin: var(--Rows6);
}

/* // OLED */
/* 반응형 */
@media (max-width: 1280px) {
}
@media (max-width: 768px) {
    .OLED_ace {
        display: block;
        margin: 108px 0;
    }
    .OLEd_img {
        width: 100%;
        margin-bottom: 54px;
    }
    .OLEd_img .warning_txt {
        position: absolute;
        right: 0;
        margin-right: 30px;
        line-height: 27px;
    }
    .img_txt {
        box-sizing: border-box;
        padding: 0px 30px;
        width: 100%;
        margin-left: 0;
    }
    .OLED_sec2_h3 {
        font-size: 1.8rem;
    }
    .img_txt p {
        width: 100%;
    }
    .ACE_tt_box li {
        width: 187px;
        height: 378px;
    }
    .ACE_tt_box li a {
        width: 40%;
        padding: 27px 0px;
    }
    .ACE_tt_box li a img {
        width: 100%;
    }
    .ACE_tt_box li a .ace_tt {
        font-size: 1.6rem;
        margin-top: 0;
        margin-bottom: 27px;
    }
    /* 수정 */
    .ACE_tt_box li a .A_txt_box {
        width: 100%;
    }
    .ACE_tt_box li a .A_txt_box p {
        font-size: 1rem;
    }
    .a1_scroll {
        width: 100%;
    }
    .ACE_a1_scrollImg .OLED_sec2_h3 {
        position: relative;
        height: 54px;
        width: 384px;
        margin-top: 54px;
    }
    .OLED_sec2_h3 span {
        line-height: 54px;
        font-size: 1.6rem;
    }
    .ACE_a1_scrollImg .a1_tt {
        margin: 54px 30px 27px 0;
    }
    .OLED_sec2_h4 {
        font-size: 1.25rem;
        text-align: right;
        margin-left: 30px;
        line-height: 27px;
    }
    .ACE_a1_scrollImg p {
        width: 62%;
        text-align: right;
        margin-left: auto;
        margin-right: 30px;
    }
    .ACE_a2 {
        margin: 81px 0;
        height: 826px;
        position: relative;
    }
    .ACE_a2 img {
        width: 47%;
    }
    .ACE_a2 img:first-child {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
    }
    .ACE_a2 img:last-of-type {
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .ACE_a2 .a2_tt {
        position: absolute;
        top: 0;
        right: 50%;
        transform: translateX(123%);
    }
    .ACE_a2 .a2_tt h3 {
        color: var(--font_W);
        line-height: 43px;
        margin-bottom: 27px;
    }
    .ACE_a2 .a2_tt h4 {
        margin: 0;
        width: 90%;
        line-height: 33px;
    }
    .ACE_a2 p.a2_sub_txt {
        bottom: 35%;
        left: 26%;
        width: 44%;
        text-align: center;
    }

    /* C */
    .ACE_c1 {
        margin: 81px 0;
    }

    .c1_imgs {
        gap: 30px;
        margin: 0;
    }
    .c1_imgs .img_box {
        width: 100%;
    }
    .ACE_c1 .warning_txt {
        margin-right: 30px;
        margin-top: 13.5px;
    }
    .c1_tt {
        margin-left: 0;
    }
    .ACE_c2 {
        align-items: flex-start;
        margin: 54px 0;
    }
    .ACE_c2 .c2_img {
        width: 100%;
        padding: 30px;
        box-sizing: border-box;
    }
    .c2_img img {
        width: 100%;
    }
    .ACE_c2 {
        display: inline-block;
    }
    .c2_tt {
        margin-left: 0;
    }
    .ace_tt h3 {
        margin-top: 54px;
        color: var(--font_w);
    }
    .ace_tt h4 {
        text-align: center;
        width: 87%;
        margin: 0 30px;
    }
    .ace_tt p {
        margin-bottom: 81px;
    }

    /* E */
    .ACE_E {
        margin-top: 54px;
    }
    .ACE_E1 {
        display: inline-block;
    }
    .E1_img {
        width: 100%;
    }
    .E1_tt h3 {
        color: var(--font_B);
    }
    .ACE_E2 {
        margin-top: 0;
        height: 900px;
        background: #000;
    }
    .e2_imgs {
        display: inline-block;
        box-sizing: border-box;
        padding: 30px;
        margin-top: 54px;
        height: 550px;
    }
    .e2_imgs img {
        width: 70%;
    }
    .e2_02 {
        display: flex;
        justify-content: flex-end;
    }
    .e2_imgs .e2_02 img {
        width: 60%;
    }
    .e2_imgs .e2_02:after {
        right: 1%;
        bottom: 5%;
    }
    .e2_imgs .e2_02:before {
        right: 33%;
        bottom: 5%;
    }
    .ACE_E2 .warning_txt {
        color: var(--font_W);
        margin-right: 30px;
    }

    .ACE_E2 .OLED_sec2_h3,
    .ACE_E2 .e2_tt p {
        color: var(--font_W);
    }
    .e2_tt {
        margin: var(--Rows1);
        background: #000;
        padding-bottom: 81px;
    }
}
@media (max-width: 400px) {
    .e2_imgs {
        height: 405px;
        margin-top: 54px;
        height: 405px;
    }
    .e2_imgs .e2_02:after {
        right: 4%;
        bottom: 29%;
        background-image: url(../img/OLED/ACE_e02_04.png);
        width: 86px;
        height: 80px;
    }
}
.e2_imgs .e2_02:before {
    right: 35%;
    bottom: 29%;
    font-size: 1.5rem;
}
/********** OLED ACE (SECTION2) **********/