/* OLED EX (SECTOIN1) */

/* OLED EX 1600px */
@media (max-width: 1600px) {
    .EX_algorism .img {
        background-size: contain;
    }
}

/* @media (max-width: 1650px) {
    .EX_bezel {
        position: relative;
        display: block;
    }

    .EX_bezel img {
        position: relative;
        left: 0%;
        left: 2%
    }

    .EX_bezel h2, .EX_bezel p {
        position: absolute;
    }

    .EX_bezel h2 {
        position: absolute;
        left: 62%;
        top: 59%;
    }

    .EX_bezel p {
        position: relative;
        margin-top: 30px;
        right: 23.5%;
    }
}  */


@media (max-width: 885px) {
    /* EX DEUTERIUM(중수소 소자) */
    .EX_deuterium h2 {
        font-size: 26px;
    }
    .EX_deuterium p {
        font-size: 16px;
        line-height: 27px;
        margin-top: 30px;
    }
}

/* OLED EX TABLET */
@media (max-width: 768px) {
    /* OLED EX INTRO */
    .banner h2 {
        font-size: 20px;
    }

    .EX_intro h1 {
        font-size: 50px;
        line-height: 90px;
    }

    .banner h2:before {
        width: 8px;
        height: 20px;
        transform: translateY(-8px);
        margin-right: 3px;
    }

    .EX_intro h1:nth-child(1):after {
        width: 30px;
        height: 13px;
    }

    .EX_intro p:nth-child(3) {
        font-size: 15px;
        margin: 28px 0 28px 0;
    }
    
    .EX_intro p {
        font-size: 10px;
        line-height: 14px;
    }


    /* EX Bezel(베젤) */
    /* .EX_bezel img {
        width: 343px;
        height: 245px;
    } */   

    .EX_bezel h2 {
        /* font-size: 26px;
        grid-column: 2/3;
        grid-row: 2/3; */
    }

    .EX_bezel p {
        /* font-size: 16px;
        grid-column: 2/3;
        grid-row: 3/4; */
    }
    
}



/* OLED EX MOBILE */
@media (max-width: 390px) {

}